
syntax: glob

*.DS_Store
*.obj
*.pdb
*.suo
*.user
*.cache
*.orig
*.iws
*.log
*.dll
Debug/*
Release/*
_ReSharper.*
*.resharper
.hgrc
App_Data/*
glob:Thumbs.db
obj
glob:*.rej


*.pyc
*.py~
Debug/*
Release/*
testResult/*
testResults/*
_ReSharper.*
*.resharper
.git
.hgignore
*-*.zip
pwc.zip
ErrorLogs/*
build-output
build-ouput
buildOutput
App_Data/*
*/*.hbm.xml
*/.idea/workspace.xml
*/.idea/misc.xml
*/.idea/dictionaries/*
src/*/error*xml
src/*/Logs/error*xml
src/GlobalAssemblyInfo.cs
test/javascript/App.config
glob:tools/xunit-runner/safari4.config
test/javascript/Scripts/*
glob:test/javascript/app.config
glob:test/functional/app.config
src/calendar/Scripts/i18n/*.js
glob:src/calendar/StaticContent/Scripts/merged/*.js
glob:src/calendar/.idea/*
glob:tools/fortify_anaylize/set_env.bat
glob:tools/xunit-runner/chrome-local.config
glob:tools/xunit-runner/safari-local.config
glob:tools/xunit-runner/ff-local.config
glob:tools/xunit-runner/ie-local.config
glob:report/report-api/bin/*
glob:report/report-api/obj/*
glob:report/report-impl/bin/*
glob:report/report-impl/obj/*
glob:basicInfo.html
glob:profile.xls
glob:profile.pdf
glob:profile.html
glob:libs/Framework.Test.dll
glob:libs/Framework.API.dll
glob:src/calendar/Scripts/i18nresources/*.js
glob:*-merged.js
glob:*-merged.css
glob:src/calendar/JSPwC.ipr
glob:Notification/bin/*.*
glob:Notification/obj/*
glob:Notification/bin/*
glob:src/.idea/*
glob:msbuild.tasks/obj/*
glob:msbuild.tasks/bin/*
glob:src/calendar/Logs/*
glob:data/test/DUT.bak
glob:tools/xunit-runner/ff3.config
glob:distribution/*.*
glob:distribution/production/*
glob:distribution/staging/*
glob:distribution/test/*
glob:tools/xunit-runner/CruiseTestRunner/cruise-test-runner/obj/Release/TempPE/Service References.TestCaseDispatchService.Reference.cs.dll
glob:tools/xunit-runner/CruiseTestRunner/cruise-test-runner/obj/Release/PWC.Test.CruiseTestRunner.exe
glob:tools/xunit-runner/CruiseTestRunner/cruise-test-runner/obj/Release/cruise-test-runner.csproj.FileListAbsolute.txt
glob:tools/xunit-runner/CruiseTestRunner/testcase-dispatch-service/obj/Release/PWC.Test.TestCaseDispatchService.exe
glob:tools/xunit-runner/CruiseTestRunner/testcase-dispatch-service/obj/Release/test-dispatch-service.csproj.FileListAbsolute.txt
glob:tools/xunit-runner/CruiseTestRunner/testcase-dispatch-service/bin/Release/PWC.Test.TestCaseDispatchService.vshost.exe
glob:tools/xunit-runner/CruiseTestRunner/testcase-dispatch-service/bin/Release/PWC.Test.TestCaseDispatchService.vshost.exe.config
glob:tools/xunit-runner/CruiseTestRunner/testcase-dispatch-service/bin/Release/PWC.Test.TestCaseDispatchService.vshost.exe.manifest
glob:test/deploy/I18N/I18NResources.xlsx
glob:buildscript/ut-report.html
glob:tools/fortify_anaylize/report/Fortify Security Report for PWC.fpr
glob:tools/fortify_anaylize/log_admin.txt
glob:tools/fortify_anaylize/report/Fortify Security Report for PWC.pdf
glob:tools/fortify_anaylize/fortify_log.txt
glob:tools/fortify_anaylize/fortify_log_admin.txt
glob:tools/fortify_anaylize/fortify_log_acom.txt
glob:NDependOut/**
glob:build/configs/javascript/local/jt-ie-local.config
glob:build/configs/functional/local/ft-firefox-local.config
glob:deploy-2.0/I18N/i18n.xlsx
glob:build/configs/javascript/local/jt-chrome-local.config
glob:build/configs/functional/local/ft-ie-local.config
glob:build/configs/functional/local/ft-safari-local.config
glob:build/configs/javascript/local/jt-safari-local.config
glob:build/configs/functional/local/ft-chrome-local.config
glob:build/configs/javascript/local/jt-firefox-local.config
glob:build/working/*
glob:build/configs/functional/ft-ie.config
glob:build/configs/functional/ft-chrome.config
glob:build/configs/functional/ft-firefox.config
glob:build/configs/functional/ft-safari.config
glob:NCoverTrend.html
glob:build/build-tools/Fortify/fortify_log.txt
glob:build/build-tools/Fortify/set_env.bat
glob:build/build-tools/AppConfigurator/app-configurator-test/obj/Release/build.force
glob:build/build-tools/AppConfigurator/app-configurator/obj/Release/ApplicationConfigurator.exe
glob:build/build-tools/AppConfigurator/app-configurator/bin/Release/ApplicationConfigurator.vshost.exe.manifest
glob:build/build-tools/AppConfigurator/app-configurator/bin/Release/ApplicationConfigurator.vshost.exe
glob:build/build-tools/AppConfigurator/app-configurator/obj/Release/app-configurator.csproj.FileListAbsolute.txt
glob:build/build-tools/AppConfigurator/app-configurator/app-configurator.idc
glob:bin-test/*
glob:bin-data\*
glob:test/test-smoke/app.config
glob:src/integration-site/logs/*.txt
glob:build/configs/smoke/st-firefox.config
glob:build/db-backup-management-scripts/backup-uat-db/latest_uat_db_backup.bak
glob:build/db-backup-management-scripts/backup-uat-db-and-upload-to-ftp/latest_uat_db_backup.bak
glob:build\scripts\Logs\application-log.txt
glob:src/tq-admin-javascript-test/js
/CalendarStaticContent/test/javascript/app.config
/CalendarStaticContent/test/javascript/Scripts/*
/CalendarStaticContent/test/js-unit-tests/Scripts/*
D:\workshop\pwc\calendar\CalendarStaticContent\test\js-unit-tests\Scripts
/CalendarStaticContent/src/Scripts/*-merged.js
/CalendarStaticContent/src/Content/*-merged.css 
/CalendarService/*/bin
/CalendarStaticContent/src/bin
/CalendarStaticContent/test/javascript/bin
/CalendarStaticContent/test/js-unit-tests/bin
/MobileSyncService/*/bin
/Test/*/bin
/CalendarService/api-test/reports